html,body, #root
{
      width:100%;
      max-width:none;
      margin:0;
      padding: 0;
      
}
*{
    box-sizing:border-box;
}

:root{
    --bg:#0d1117;
    --text:white;
    --card:#1b23335;
    --blue:#15284a;

}
